body {
  background-image: url('assets/cloudss.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* &nbsp */
  a {
    color: blue;
  }
  a:visited {
    color: #FBE6E1;
  }
  a:hover {
    color: #36374C;
  }
  h1{
    margin: 50px;
    padding-bottom: 0;
    color: red;
    font-size: 4.1em;
    font-family: "Quando", serif;
  }

  h2{
    margin: 5vh 10vw 5vh 10vw;
    font-size: 1.8em;
    font-family: "Quando", serif;
    color: #36374C;
  }

  h3{
    margin-bottom: 25px;
    font-size: 50px;
    font-weight: 900;
    margin-left: 50px;
    font-family: 'Barlow', sans-serif;
    color: #36374C;
  }

  h4{
    margin-bottom: 28px;
    font-size: 25px;
    margin-left: 15px;
    font-family: "Ubuntu", sans-serif;
    color: #36374C;
  }

  h5{
    margin-bottom: 28px;
    font-size: 15px;
    margin-left: 15px;
    font-family: 'Zen Antique Soft', serif;
    color: #36374C;
  }

  #tabs{
    display: flex;
    margin: 25vh 10vw 0vh 10vw;
    justify-content: center;
  }

  #items{
    display: flex;
    margin: 0vh 20vh 10vh 20vh;
    padding-top: 5px;
    background-color: #BCBDC1;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 5px 5px 5px black;
  }
  #items2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh 10vh 10vh 10vh;
    padding-top: 5px;
    background-color: #F27360;
    border: 5px solid #FBE6E1;
    border-radius: 25px;
  }

  .looks{
    flex-grow: 1;
    width: auto;

  }

  #image{
    flex-grow: 1;
    width: 400px;
    /* background-color: yellow; */
    /* border: 1px solid black; */
    max-width: 60%;
  }

  #outfit1{
    flex-grow: 1;
    width: auto;
    /* background-color: blue;
    border: 1px solid black; */
    max-width: 50%;
    margin: 10vh 8vw 7vh 3vw;
  }
  #outfit2{
    flex-grow: 1;
    width: auto;
    /* background-color: orange;
    border: 1px solid black; */
    max-width: 50%;
    margin: 10vh 8vh 7vh 3vh;
  }
  #outfit3{
    flex-grow: 1;
    width: auto;
    /* background-color: gray;
    border: 1px solid black; */
    max-width: 50%;
    margin: 10vh 8vw 7vh 3vw;
  }
  .clothes{
    flex-grow: 1;
    width: auto;
    /* background-color: green;
    border: 1px solid black; */
    max-width: 50%;
    margin: 5vh 10vw 6vh 10vw;
  }

  #Look2clothes, #brunchclothes, #lookclothes{
    display: none;
  }

  .active{
    border-bottom: none;
    color: black;
    background-color: #BCBDC1;
  }

  img{
    width: 80%;
    max-height: 100%;
    object-fit: cover;
    display: flex;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 100px;
  }
