body {
  background-image: url('assets/cloudss.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

  h1{
    margin: 50px;
    padding-bottom: 0;
    color: red;
    font-size: 4.1em;
  }

  h2{
    margin-bottom: 28px;
    margin-left: 10;
    font-size: 1.8em;
  }

  h3{
    margin-bottom: 28px;
    font-size: 50px;
    font-weight: bold;
    margin-left: 50px;
  }

  h4{
    margin-bottom: 28px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
  }

  h5{
    margin-bottom: 28px;
    font-size: 15px;
    margin-left: 15px;
    font-style: TextMeOne;
  }
  #tabs{
    display: flex;
    margin: 25vh 10vw 0vh 10vw;
  }

  #items{
    display: flex;
    margin: 0vh 10vw 0 10vw;
    padding-top: 5px;
  }

  .looks{
    flex-grow: 1;
    width: auto;
    border: 1px solid black;
  }

  #image, #outfit, .clothes{
    flex-grow: 1;
    width: auto;
    background-color: pink;
    border: 1px solid black;
    max-width: 50%;
    margin: 40px;
  }

  #Look2clothes, #brunchclothes, #lookclothes{
    display: none;
  }

  .active{
    border-bottom: none;
    color: #855252;
    background-color: white;
  }

  img{
    width: 80%;
    max-height: 80%;
    object-fit: cover;
    display:block;
    margin:auto;
  }
