/* h1{
  color: #216a61;
} */
/* section{
  background-color: #cddfd3;
  margin: 30vh 20vw;
  padding: 10vh 10vw;
  border-radius: 8px;
} */

button{
  border-radius: 8px;
  padding: 1vh 3vw;
  float: right;
  margin-top: 1vh;
  background-color: #216a61;
  color: #FB9F88;
}

button:hover{
  border: #fff solid 1px;
}
button:active{
  color: #fff
}


#box1{
  background-color: #cddfd3;
  padding: 20px 40px 60px 40px;
  margin: 20vh 20vw;
  font-family: "Barlow";
  filter: drop-shadow(3px 3px 4px rgba(0,0,0,.5));
  border-radius: 10px;
}

#qtext{
  color: #216a61;
  margin-bottom: 10px;
  margin:auto;
}

#box2{
  display: flex;
  width: auto;
  margin: 10px 20vw;
}

.flexitem{
  flex-grow: 5;
  margin-left: auto;
  margin: center;
}

.hockey{
  width: 15vw;
  min-width: 10px;
  margin:auto;
  display:block
}
